.main-chat
  .current-group
    .current-group__left
      .current-group__left__name
        グループ名
      .current-group__left__members-list
        -# .test
        Member:
        -# .member
        member
        -# .member
        member
    .current-group__btn-edit
      =link_to "#" do
        edit
  .message-list
    message-list

  .message-form
    message-form
